In [11]:
import pandas as pd

In [12]:
# read datast(s)
with open('../data/Coaches.csv', 'rb') as f:
    coaches = pd.read_csv(f)

with open('../data/Stadium.csv', 'rb') as f:
    stadium = pd.read_csv(f)

with open('../data/2018RES_File1-DI-NationalAggregation-OverallSA_Cohort9510_v1_20180213.csv', 'rb') as f:
    combined = pd.read_csv(f)

with open('../data/2018RES_File2-DI-NationalAggregation-SAgenderrace_Cohort9510_v1_20180213.csv', 'rb') as f:
    athletes_only = pd.read_csv(f)

with open('../data/2018RES_File3-DI-NationalAggregation-SB_Coh9510_v1_20180213.csv', 'rb') as f:
    students_only = pd.read_csv(f)

In [13]:
print(coaches)

                    School Conference               Coach    SchoolPay  \
0                Air Force   Mt. West        Troy Calhoun       885000
1                    Akron        MAC        Terry Bowden    $411,000
2                  Alabama        SEC          Nick Saban  $8,307,000
3    Alabama at Birmingham      C-USA          Bill Clark    $900,000
4        Appalachian State   Sun Belt   Scott Satterfield    $712,500
5                  Arizona     Pac-12        Kevin Sumlin  $1,600,000
6            Arizona State     Pac-12        Herm Edwards  $2,000,000
7                 Arkansas        SEC         Chad Morris  $3,500,000
8           Arkansas State   Sun Belt      Blake Anderson    $825,000
9                     Army       Ind.         Jeff Monken       932521
10                  Auburn        SEC         Gus Malzahn  $6,700,000
11              Ball State        MAC            Mike Neu    $435,689
12                  Baylor     Big 12          Matt Rhule           --
13             Boise State   Mt. West        Bryan Harsin  $1,650,010
14          Boston College        ACC       Steve Addazio  $2,514,859
15           Bowling Green        MAC          Mike Jinks    $437,228
16           Brigham Young       Ind.       Kalani Sitake           --
17                 Buffalo        MAC       Lance Leipold    $455,500
18              California     Pac-12       Justin Wilcox  $1,500,000
19         Central Florida        AAC         Josh Heupel  $1,700,000
20        Central Michigan        MAC       John Bonamego    $655,000
21               Charlotte      C-USA        Brad Lambert    $625,000
22              Cincinnati        AAC        Luke Fickell  $2,000,000
23                 Clemson        ACC        Dabo Swinney  $6,205,000
24        Coastal Carolina   Sun Belt          Joe Moglia    $400,000
25                Colorado     Pac-12      Mike MacIntyre  $2,878,500
26          Colorado State   Mt. West           Mike Bobo  $1,800,000
27             Connecticut        AAC        Randy Edsall  $1,100,000
28                    Duke        ACC     David Cutcliffe  $2,540,928
29           East Carolina        AAC  Scottie Montgomery  $1,102,500
..                     ...        ...                 ...          ...
100   Southern Mississippi      C-USA          Jay Hopson    $500,000
101               Stanford     Pac-12          David Shaw  $4,311,543
102               Syracuse        ACC         Dino Babers  $2,401,206
103                 Temple        AAC       Geoff Collins           --
104              Tennessee        SEC       Jeremy Pruitt  $3,846,000
105                  Texas     Big 12          Tom Herman  $5,500,000
106              Texas A&M        SEC        Jimbo Fisher  $7,500,000
107        Texas Christian     Big 12      Gary Patterson  $4,840,717
108            Texas State   Sun Belt     Everett Withers    $700,000
109             Texas Tech     Big 12     Kliff Kingsbury  $3,703,975
110          Texas-El Paso      C-USA          Dana Dimel    $700,000
111      Texas-San Antonio      C-USA        Frank Wilson  $1,100,000
112                 Toledo        MAC        Jason Candle  $1,125,000
113                   Troy   Sun Belt          Neal Brown    $810,000
114                 Tulane        AAC        Willie Fritz  $1,629,000
115                  Tulsa        AAC   Philip Montgomery  $1,518,177
116                   UCLA     Pac-12          Chip Kelly  $3,300,000
117                   Utah     Pac-12    Kyle Whittingham  $3,787,917
118             Utah State   Mt. West          Matt Wells    $900,000
119             Vanderbilt        SEC         Derek Mason  $2,812,523
120               Virginia        ACC   Bronco Mendenhall  $3,550,000
121          Virginia Tech        ACC       Justin Fuente  $4,000,000
122            Wake Forest        ACC        Dave Clawson  $1,831,580
123             Washington     Pac-12      Chris Petersen  $4,375,000
124       Washington State     Pac-12          Mike Leach  $3,500,000
125          West Virginia     Big 12      Dana Holgorsen  $3,605,000
126       Western Kentucky      C-USA    Mike Sanford Jr.    $800,000
127       Western Michigan        MAC          Tim Lester    $800,000
128              Wisconsin    Big Ten         Paul Chryst  $3,750,000
129                Wyoming   Mt. West          Craig Bohl  $1,412,000

        TotalPay        Bonus  BonusPaid AssistantPay        Buyout
0         885000       247000         --          $0             --
1      $412,500     $225,000    $50,000           $0      $688,500
2    $8,307,000   $1,100,000   $500,000           $0   $33,600,000
3      $900,000     $950,000   $165,471           $0    $3,847,500
4      $712,500     $295,000   $145,000           $0    $2,160,417
5    $2,000,000   $2,025,000          --          $0   $10,000,000
6    $2,000,000   $3,010,000          --          $0    $8,166,667
7    $3,500,000   $1,000,000          --          $0   $12,500,000
8      $825,000     $185,000    $25,000           $0      $300,000
9         932521           --         --          $0             --
10   $6,705,656   $1,400,000   $375,000           $0   $32,143,750
11     $435,689     $380,000    $30,000           $0      $980,300
12            --           --         --          $0             --
13   $1,650,010     $475,000   $145,000           $0    $7,784,038
14   $2,514,859            --         --          $0             --
15     $437,228     $245,000    $81,250           $0      $874,456
16            --           --         --          $0             --
17     $455,500     $381,000         $0           $0    $1,020,833
18   $1,500,000     $900,000    $75,000           $0    $7,208,500
19   $1,700,000     $250,000          --          $0    $3,587,500
20     $655,000     $415,000    $45,000           $0    $1,125,000
21     $625,000     $120,000         $0           $0      $556,389
22   $2,000,000     $625,000         $0           $0    $7,100,000
23   $6,543,350   $1,125,000   $500,000           $0   $35,000,000
24     $400,000     $800,000    $25,000           $0      $516,667
25   $2,878,500   $2,150,000   $297,000           $0   $10,314,583
26   $1,800,000     $905,000    $50,000           $0    $8,000,000
27   $1,100,000     $650,000   $129,000           $0    $1,000,000
28   $2,540,928            --         --          $0             --
29   $1,102,500     $850,000         $0           $0    $1,233,333
..           ...          ...        ...          ...           ...
100    $500,000     $870,000    $15,000           $0    $1,583,333
101  $4,311,543            --         --          $0             --
102  $2,401,206            --         --          $0             --
103           --           --         --          $0             --
104  $3,846,000   $1,200,000          --          $0   $11,780,000
105  $5,500,000     $725,000    $75,000           $0   $15,416,667
106  $7,500,000   $1,350,000          --          $0   $68,125,000
107  $4,840,717            --         --          $0             --
108    $700,000      $70,833         $0           $0      $773,958
109  $3,703,975   $1,500,000    $25,000           $0    $4,231,250
110    $700,000     $741,665          --          $0    $2,991,667
111  $1,100,000     $185,000    $17,500           $0    $3,562,500
112  $1,125,000     $585,000   $210,000           $0    $3,558,333
113    $810,000     $490,000   $100,000           $0    $2,911,667
114  $1,629,000            --         --          $0             --
115  $1,518,177            --         --          $0             --
116  $3,300,000   $1,085,000          --          $0    $9,000,000
117  $3,787,917     $935,000   $279,167           $0    $9,250,000
118    $900,000     $765,000    $65,000           $0    $2,122,917
119  $2,812,523            --         --          $0             --
120  $3,550,000   $2,165,000    $75,000           $0   $18,193,750
121  $4,000,000     $435,000    $75,000           $0   $15,000,000
122  $1,831,580            --         --          $0             --
123  $4,377,500   $1,050,000   $300,000           $0   $26,354,166
124  $3,500,000     $725,000    $75,000           $0    $4,900,000
125  $3,617,500   $1,000,000    $90,000           $0    $7,150,000
126    $805,850     $400,000         $0           $0    $1,200,000
127    $800,000     $346,500    $39,250           $0      $800,000
128  $3,750,000            --  $290,000           $0    $6,000,000
129  $1,412,000     $450,000   $236,000           $0    $8,016,667

[130 rows x 9 columns]