In [11]:
import pandas as pd

In [39]:
# read datast(s)
with open('../data/Coaches.csv', 'rb') as f:
    coaches = pd.read_csv(f).fillna(0)

with open('../data/Stadium.csv', 'rb') as f:
    stadium = pd.read_csv(f).fillna(0)

with open('../data/2018RES_File1-DI-NationalAggregation-OverallSA_Cohort9510_v1_20180213.csv', 'rb') as f:
    combined = pd.read_csv(f).fillna(0)

with open('../data/2018RES_File2-DI-NationalAggregation-SAgenderrace_Cohort9510_v1_20180213.csv', 'rb') as f:
    athletes_only = pd.read_csv(f).fillna(0)

with open('../data/2018RES_File3-DI-NationalAggregation-SB_Coh9510_v1_20180213.csv', 'rb') as f:
    students_only = pd.read_csv(f).fillna(0)

In [42]:
# define monetary columns
monetary_columns = [
    'SchoolPay',
    'TotalPay',
    'Bonus',
    'BonusPaid',
    'AssistantPay',
    'Buyout'
]

# remove non-numeric to empty space
coaches[monetary_columns] = coaches[monetary_columns].replace('[\$,--]', '', regex=True)

#
# coerce monetary to numerice
#
coaches[monetary_columns] = coaches[monetary_columns].apply(pd.to_numeric, errors='coerce', axis=1).fillna(0)

                    School Conference               Coach  SchoolPay  \
0                Air Force   Mt. West        Troy Calhoun   885000.0
1                    Akron        MAC        Terry Bowden   411000.0
2                  Alabama        SEC          Nick Saban  8307000.0
3    Alabama at Birmingham      C-USA          Bill Clark   900000.0
4        Appalachian State   Sun Belt   Scott Satterfield   712500.0
5                  Arizona     Pac-12        Kevin Sumlin  1600000.0
6            Arizona State     Pac-12        Herm Edwards  2000000.0
7                 Arkansas        SEC         Chad Morris  3500000.0
8           Arkansas State   Sun Belt      Blake Anderson   825000.0
9                     Army       Ind.         Jeff Monken   932521.0
10                  Auburn        SEC         Gus Malzahn  6700000.0
11              Ball State        MAC            Mike Neu   435689.0
12                  Baylor     Big 12          Matt Rhule        0.0
13             Boise State   Mt. West        Bryan Harsin  1650010.0
14          Boston College        ACC       Steve Addazio  2514859.0
15           Bowling Green        MAC          Mike Jinks   437228.0
16           Brigham Young       Ind.       Kalani Sitake        0.0
17                 Buffalo        MAC       Lance Leipold   455500.0
18              California     Pac-12       Justin Wilcox  1500000.0
19         Central Florida        AAC         Josh Heupel  1700000.0
20        Central Michigan        MAC       John Bonamego   655000.0
21               Charlotte      C-USA        Brad Lambert   625000.0
22              Cincinnati        AAC        Luke Fickell  2000000.0
23                 Clemson        ACC        Dabo Swinney  6205000.0
24        Coastal Carolina   Sun Belt          Joe Moglia   400000.0
25                Colorado     Pac-12      Mike MacIntyre  2878500.0
26          Colorado State   Mt. West           Mike Bobo  1800000.0
27             Connecticut        AAC        Randy Edsall  1100000.0
28                    Duke        ACC     David Cutcliffe  2540928.0
29           East Carolina        AAC  Scottie Montgomery  1102500.0
..                     ...        ...                 ...        ...
100   Southern Mississippi      C-USA          Jay Hopson   500000.0
101               Stanford     Pac-12          David Shaw  4311543.0
102               Syracuse        ACC         Dino Babers  2401206.0
103                 Temple        AAC       Geoff Collins        0.0
104              Tennessee        SEC       Jeremy Pruitt  3846000.0
105                  Texas     Big 12          Tom Herman  5500000.0
106              Texas A&M        SEC        Jimbo Fisher  7500000.0
107        Texas Christian     Big 12      Gary Patterson  4840717.0
108            Texas State   Sun Belt     Everett Withers   700000.0
109             Texas Tech     Big 12     Kliff Kingsbury  3703975.0
110          Texas-El Paso      C-USA          Dana Dimel   700000.0
111      Texas-San Antonio      C-USA        Frank Wilson  1100000.0
112                 Toledo        MAC        Jason Candle  1125000.0
113                   Troy   Sun Belt          Neal Brown   810000.0
114                 Tulane        AAC        Willie Fritz  1629000.0
115                  Tulsa        AAC   Philip Montgomery  1518177.0
116                   UCLA     Pac-12          Chip Kelly  3300000.0
117                   Utah     Pac-12    Kyle Whittingham  3787917.0
118             Utah State   Mt. West          Matt Wells   900000.0
119             Vanderbilt        SEC         Derek Mason  2812523.0
120               Virginia        ACC   Bronco Mendenhall  3550000.0
121          Virginia Tech        ACC       Justin Fuente  4000000.0
122            Wake Forest        ACC        Dave Clawson  1831580.0
123             Washington     Pac-12      Chris Petersen  4375000.0
124       Washington State     Pac-12          Mike Leach  3500000.0
125          West Virginia     Big 12      Dana Holgorsen  3605000.0
126       Western Kentucky      C-USA    Mike Sanford Jr.   800000.0
127       Western Michigan        MAC          Tim Lester   800000.0
128              Wisconsin    Big Ten         Paul Chryst  3750000.0
129                Wyoming   Mt. West          Craig Bohl  1412000.0

      TotalPay      Bonus  BonusPaid  AssistantPay      Buyout
0     885000.0   247000.0        0.0           0.0         0.0
1     412500.0   225000.0    50000.0           0.0    688500.0
2    8307000.0  1100000.0   500000.0           0.0  33600000.0
3     900000.0   950000.0   165471.0           0.0   3847500.0
4     712500.0   295000.0   145000.0           0.0   2160417.0
5    2000000.0  2025000.0        0.0           0.0  10000000.0
6    2000000.0  3010000.0        0.0           0.0   8166667.0
7    3500000.0  1000000.0        0.0           0.0  12500000.0
8     825000.0   185000.0    25000.0           0.0    300000.0
9     932521.0        0.0        0.0           0.0         0.0
10   6705656.0  1400000.0   375000.0           0.0  32143750.0
11    435689.0   380000.0    30000.0           0.0    980300.0
12         0.0        0.0        0.0           0.0         0.0
13   1650010.0   475000.0   145000.0           0.0   7784038.0
14   2514859.0        0.0        0.0           0.0         0.0
15    437228.0   245000.0    81250.0           0.0    874456.0
16         0.0        0.0        0.0           0.0         0.0
17    455500.0   381000.0        0.0           0.0   1020833.0
18   1500000.0   900000.0    75000.0           0.0   7208500.0
19   1700000.0   250000.0        0.0           0.0   3587500.0
20    655000.0   415000.0    45000.0           0.0   1125000.0
21    625000.0   120000.0        0.0           0.0    556389.0
22   2000000.0   625000.0        0.0           0.0   7100000.0
23   6543350.0  1125000.0   500000.0           0.0  35000000.0
24    400000.0   800000.0    25000.0           0.0    516667.0
25   2878500.0  2150000.0   297000.0           0.0  10314583.0
26   1800000.0   905000.0    50000.0           0.0   8000000.0
27   1100000.0   650000.0   129000.0           0.0   1000000.0
28   2540928.0        0.0        0.0           0.0         0.0
29   1102500.0   850000.0        0.0           0.0   1233333.0
..         ...        ...        ...           ...         ...
100   500000.0   870000.0    15000.0           0.0   1583333.0
101  4311543.0        0.0        0.0           0.0         0.0
102  2401206.0        0.0        0.0           0.0         0.0
103        0.0        0.0        0.0           0.0         0.0
104  3846000.0  1200000.0        0.0           0.0  11780000.0
105  5500000.0   725000.0    75000.0           0.0  15416667.0
106  7500000.0  1350000.0        0.0           0.0  68125000.0
107  4840717.0        0.0        0.0           0.0         0.0
108   700000.0    70833.0        0.0           0.0    773958.0
109  3703975.0  1500000.0    25000.0           0.0   4231250.0
110   700000.0   741665.0        0.0           0.0   2991667.0
111  1100000.0   185000.0    17500.0           0.0   3562500.0
112  1125000.0   585000.0   210000.0           0.0   3558333.0
113   810000.0   490000.0   100000.0           0.0   2911667.0
114  1629000.0        0.0        0.0           0.0         0.0
115  1518177.0        0.0        0.0           0.0         0.0
116  3300000.0  1085000.0        0.0           0.0   9000000.0
117  3787917.0   935000.0   279167.0           0.0   9250000.0
118   900000.0   765000.0    65000.0           0.0   2122917.0
119  2812523.0        0.0        0.0           0.0         0.0
120  3550000.0  2165000.0    75000.0           0.0  18193750.0
121  4000000.0   435000.0    75000.0           0.0  15000000.0
122  1831580.0        0.0        0.0           0.0         0.0
123  4377500.0  1050000.0   300000.0           0.0  26354166.0
124  3500000.0   725000.0    75000.0           0.0   4900000.0
125  3617500.0  1000000.0    90000.0           0.0   7150000.0
126   805850.0   400000.0        0.0           0.0   1200000.0
127   800000.0   346500.0    39250.0           0.0    800000.0
128  3750000.0        0.0   290000.0           0.0   6000000.0
129  1412000.0   450000.0   236000.0           0.0   8016667.0

[130 rows x 9 columns]