In [11]:
import pandas as pd

In [39]:
# read datast(s)
with open('../data/Coaches.csv', 'rb') as f:
    coaches = pd.read_csv(f).fillna(0)

with open('../data/stadiums-geocoded.csv', 'rb') as f:
    stadium = pd.read_csv(f).fillna(0)

with open('../data/2018RES_File1-DI-NationalAggregation-OverallSA_Cohort9510_v1_20180213.csv', 'rb') as f:
    combined = pd.read_csv(f).fillna(0)

with open('../data/2018RES_File2-DI-NationalAggregation-SAgenderrace_Cohort9510_v1_20180213.csv', 'rb') as f:
    athletes_only = pd.read_csv(f).fillna(0)

with open('../data/2018RES_File3-DI-NationalAggregation-SB_Coh9510_v1_20180213.csv', 'rb') as f:
    students_only = pd.read_csv(f).fillna(0)

In [48]:
# define monetary columns
monetary_columns = [
    'SchoolPay',
    'TotalPay',
    'Bonus',
    'BonusPaid',
    'AssistantPay',
    'Buyout'
]

# convert coaches to lowercase
coaches = coaches.apply(lambda x: x.astype(str).str.lower())

# remove non-numeric to empty space
coaches[monetary_columns] = coaches[monetary_columns].replace('[\$,--]', '', regex=True)

# coerce monetary to numerice
coaches[monetary_columns] = coaches[monetary_columns].apply(pd.to_numeric, errors='coerce', axis=1).fillna(0)

In [51]:
stadium = stadium.apply(lambda x: x.astype(str).str.lower())
print(stadium)

                                         stadium              city  \
0                               michigan stadium         ann arbor
1                                 beaver stadium   university park
2                                   ohio stadium          columbus
3                                     kyle field   college station
4                                neyland stadium         knoxville
5                                  tiger stadium       baton rouge
6                           bryant–denny stadium        tuscaloosa
7         darrell k royal–texas memorial stadium            austin
8                  los angeles memorial coliseum       los angeles
9                                sanford stadium            athens
10                                     rose bowl          pasadena
11                      ben hill griffin stadium       gainesville
12                           jordan–hare stadium            auburn
13                              memorial stadium           lincoln
14   bobby bowden field at doak campbell stadium       tallahassee
15      gaylord family oklahoma memorial stadium            norman
16                              memorial stadium           clemson
17                            notre dame stadium        notre dame
18                          camp randall stadium           madison
19                        williams-brice stadium          columbia
20                               spartan stadium      east lansing
21          donald w. reynolds razorback stadium      fayetteville
22            sun devil stadium frank kush field             tempe
23                                  faurot field          columbia
24                               kinnick stadium         iowa city
25                              qualcomm stadium         san diego
26                                 husky stadium           seattle
27                       lincoln financial field      philadelphia
28                                   heinz field        pittsburgh
29                                  lane stadium        blacksburg
..                                           ...               ...
223                               graham stadium            martin
224                               cowell stadium            durham
225                           ted wright stadium          savannah
226                           strawberry stadium           hammond
227                               alumni stadium             dover
228                                 coffey field         the bronx
229                              seibert stadium          homewood
230                      bailey memorial stadium           clinton
231                           richardson stadium          davidson
232                 gayle and tom benson stadium       san antonio
233                             blackshear field      prairie view
234                spec martin municipal stadium            deland
235                               torero stadium         san diego
236                                  butler bowl      indianapolis
237                                meade stadium          kingston
238                              leonidoff field      poughkeepsie
239                                husky stadium           houston
240                                  brown field        valparaiso
241                          barker–lane stadium       buies creek
242                            d. b. milne field      jacksonville
243                              bulldog stadium        smithfield
244                                kessler field  west long branch
245                              buccaneer field  north charleston
246                                 campus field         fairfield
247                                  arute field       new britain
248                                  degol field           loretto
249                       wagner college stadium     staten island
250                           joe walton stadium     moon township
251                                 cooper field        georgetown
252              arthur j. rooney athletic field        pittsburgh

               state                                   team     conference  \
0                 mi                               michigan        big ten
1                 pa                             penn state        big ten
2                 oh                             ohio state        big ten
3                 tx                              texas a&m            sec
4                 tn                              tennessee            sec
5                 la                                    lsu            sec
6                 al                                alabama            sec
7                 tx                                  texas         big 12
8                 ca                    southern california         pac-12
9                 ga                                georgia            sec
10                ca                                   ucla         pac-12
11                fl                                florida            sec
12                al                                 auburn            sec
13                ne                               nebraska        big ten
14                fl                          florida state            acc
15                ok                               oklahoma         big 12
16                sc                                clemson            acc
17                in                             notre dame    independent
18                wi                              wisconsin        big ten
19                sc                         south carolina            sec
20                mi                         michigan state        big ten
21                ar                               arkansas            sec
22                az                          arizona state         pac-12
23                mo                               missouri            sec
24                ia                                   iowa        big ten
25                ca                        san diego state  mountain west
26                wa                             washington         pac-12
27                pa                                 temple       american
28                pa                             pittsburgh            acc
29                va                          virginia tech            acc
..               ...                                    ...            ...
223        tennessee                     ut martin skyhawks    ohio valley
224    new hampshire                 new hampshire wildcats            caa
225          georgia                  savannah state tigers           meac
226        louisiana           southeastern louisiana lions      southland
227         delaware                 delaware state hornets           meac
228         new york                           fordham rams        patriot
229          alabama                       samford bulldogs       southern
230   south carolina                 presbyterian blue hose      big south
231   north carolina                      davidson wildcats        pioneer
232            texas               incarnate word cardinals      southland
233            texas              prairie view a&m panthers           swac
234          florida                        stetson hatters        pioneer
235       california                      san diego toreros        pioneer
236          indiana                        butler bulldogs        pioneer
237     rhode island                      rhode island rams            caa
238         new york                       marist red foxes        pioneer
239            texas                houston baptist huskies      southland
240          indiana                   valparaiso crusaders        pioneer
241   north carolina               campbell fighting camels        pioneer
242          florida                  jacksonville dolphins        pioneer
243     rhode island                        bryant bulldogs      northeast
244       new jersey                         monmouth hawks      big south
245   south carolina         charleston southern buccaneers      big south
246      connecticut                  sacred heart pioneers      northeast
247      connecticut  central connecticut state blue devils      northeast
248     pennsylvania                saint francis red flash      northeast
249         new york                        wagner seahawks      northeast
250     pennsylvania                robert morris colonials      northeast
251  washington d.c.                       georgetown hoyas        patriot
252     pennsylvania                         duquesne dukes      northeast

    capacity built expanded  div            latitude            longitude
0     107601  1927     2015  fbs   42.26586873251738    -83.7487256526947
1     106572  1960     2001  fbs   40.81215273275043   -77.85620212554932
2     104944  1922     2014  fbs  40.001685689369396   -83.01972806453705
3     102733  1927     2015  fbs  30.610097578174763   -96.34072922859283
4     102455  1921     2010  fbs  35.954734372622575    -83.9253330230713
5     102321  1924     2014  fbs  30.412012398299698     -91.183819770813
6     101821  1929     2010  fbs    33.2074899449518    -87.5503921508789
7     100119  1924     2009  fbs  30.283603402068238   -97.73233652114868
8      93607  1923     2008  fbs   34.01400974062912  -118.28789591789246
9      92746  1929     2004  fbs  33.949821489498824   -83.37344169616698
10     92542  1921     1949  fbs   34.16156958726264   -118.1676149368286
11     88548  1930     2003  fbs  29.649868677972304   -82.34866619110106
12     87451  1939     2004  fbs  32.602361666817515   -85.48891067504883
13     87091  1923     2013  fbs   40.82048352329493   -96.70571565628052
14     82300  1950     2003  fbs  30.437547584621285   -84.30453398103501
15     82112  1925     2003  fbs  35.205899594885075   -97.44255065917969
16     81500  1942     2006  fbs  34.678746657413456    -82.8431797027588
17     80795  1930     1997  fbs   41.69842312158612   -86.23382449150084
18     80321  1917     2005  fbs   43.06993802646878   -89.41274642944336
19     80250  1934     1996  fbs   33.97259115457693   -81.02021634578705
20     75005  1923     2005  fbs    42.7281691163326   -84.48487535119057
21     72000  1938     2006  fbs  36.067850785167344   -94.17879581451416
22     71706  1958     1998  fbs           33.426364          -111.932616
23     71168  1927     1997  fbs   38.93589529672232   -92.33311414718628
24     70585  1929     2006  fbs   41.65838893680983   -91.55147552490234
25     70561  1967     1997  fbs  32.783053257791146  -117.11960077285768
26     70500  1920     2012  fbs  47.650430544012224  -122.30291984739306
27     68532  2003        0  fbs   39.90074890048813   -75.16749143600464
28     68400  2001        0  fbs   40.44678376501633   -80.01575589179994
29     66233  1965     2005  fbs    37.2199742830054   -80.41805505752562
..       ...   ...      ...  ...                 ...                  ...
223     8000  1964        0  fcs   36.34473727473976   -88.86117696762085
224     8000  1936        0  fcs   43.13868644255608   -70.93915253877641
225     7500  1967        0  fcs   32.02727816100439   -81.06926968373023
226     7408  1936     2008  fcs   30.51096529220553   -90.46879649162292
227     7000  1980        0  fcs   39.18882600665364   -75.54349422454834
228     7000  1930        0  fcs   40.86118054351042   -73.88327121734619
229     6700  1958        0  fcs           33.463425   -86.79527019999998
230     6500  2002        0  fcs   34.46055712845153   -81.86198098380049
231     6000  1923     1998  fcs  35.499584825824655   -80.84345239142534
232     6000  2008     2010  fcs  29.467283430975453    -98.4698613211319
233     6000  1960        0  fcs   30.09115259095664   -95.99441528320312
234     6000  1941        0  fcs   29.01950783025585   -81.30031862489339
235     6000  1961        0  fcs  32.773496102584694  -117.18379787354701
236     5500  1928    2010   fcs  39.844297565059655   -86.16624191180902
237     5180  1928     2003  fcs   41.48805753368575    -71.5345226391631
238     5000  1968     2007  fcs   41.71892738476245    -73.9326238632202
239     5000  2014        0  fcs  29.752250560051174   -95.35233736038208
240     5000  1919        0  fcs  41.465178807414055   -87.04783452864912
241     5000  2008        0  fcs  35.404718345188215   -78.74297958926653
242     5000  1998        0  fcs  30.356479653114487   -81.60585337269472
243     4400  1999        0  fcs    41.9240451152858    -71.5380118857875
244     4000  1993        0  fcs   40.27933332050642   -74.00947451591493
245     4000  1970        0  fcs  32.978350056140606   -80.06846858235924
246     4000  1993        0  fcs   41.21945017557718   -73.24561729776717
247     3500  1969        0  fcs  41.695136754060506   -72.76143215914811
248     3500  2006        0  fcs   40.50635956112794   -78.63697298983197
249     3300  1967        0  fcs   40.61732454244042    -74.0954312377263
250     3000  2005        0  fcs   40.52117230929701   -80.21629929542543
251     2500  2005        0  fcs   38.90803281165565   -77.07540035247803
252     2200  1993     2011  fcs   40.43562178230943   -79.99015090703344

[253 rows x 11 columns]

In [52]:
print(coaches)

                    School Conference               Coach  SchoolPay  \
0                air force   mt. west        troy calhoun   885000.0
1                    akron        mac        terry bowden   411000.0
2                  alabama        sec          nick saban  8307000.0
3    alabama at birmingham      c-usa          bill clark   900000.0
4        appalachian state   sun belt   scott satterfield   712500.0
5                  arizona     pac-12        kevin sumlin  1600000.0
6            arizona state     pac-12        herm edwards  2000000.0
7                 arkansas        sec         chad morris  3500000.0
8           arkansas state   sun belt      blake anderson   825000.0
9                     army       ind.         jeff monken   932521.0
10                  auburn        sec         gus malzahn  6700000.0
11              ball state        mac            mike neu   435689.0
12                  baylor     big 12          matt rhule        0.0
13             boise state   mt. west        bryan harsin  1650010.0
14          boston college        acc       steve addazio  2514859.0
15           bowling green        mac          mike jinks   437228.0
16           brigham young       ind.       kalani sitake        0.0
17                 buffalo        mac       lance leipold   455500.0
18              california     pac-12       justin wilcox  1500000.0
19         central florida        aac         josh heupel  1700000.0
20        central michigan        mac       john bonamego   655000.0
21               charlotte      c-usa        brad lambert   625000.0
22              cincinnati        aac        luke fickell  2000000.0
23                 clemson        acc        dabo swinney  6205000.0
24        coastal carolina   sun belt          joe moglia   400000.0
25                colorado     pac-12      mike macintyre  2878500.0
26          colorado state   mt. west           mike bobo  1800000.0
27             connecticut        aac        randy edsall  1100000.0
28                    duke        acc     david cutcliffe  2540928.0
29           east carolina        aac  scottie montgomery  1102500.0
..                     ...        ...                 ...        ...
100   southern mississippi      c-usa          jay hopson   500000.0
101               stanford     pac-12          david shaw  4311543.0
102               syracuse        acc         dino babers  2401206.0
103                 temple        aac       geoff collins        0.0
104              tennessee        sec       jeremy pruitt  3846000.0
105                  texas     big 12          tom herman  5500000.0
106              texas a&m        sec        jimbo fisher  7500000.0
107        texas christian     big 12      gary patterson  4840717.0
108            texas state   sun belt     everett withers   700000.0
109             texas tech     big 12     kliff kingsbury  3703975.0
110          texas-el paso      c-usa          dana dimel   700000.0
111      texas-san antonio      c-usa        frank wilson  1100000.0
112                 toledo        mac        jason candle  1125000.0
113                   troy   sun belt          neal brown   810000.0
114                 tulane        aac        willie fritz  1629000.0
115                  tulsa        aac   philip montgomery  1518177.0
116                   ucla     pac-12          chip kelly  3300000.0
117                   utah     pac-12    kyle whittingham  3787917.0
118             utah state   mt. west          matt wells   900000.0
119             vanderbilt        sec         derek mason  2812523.0
120               virginia        acc   bronco mendenhall  3550000.0
121          virginia tech        acc       justin fuente  4000000.0
122            wake forest        acc        dave clawson  1831580.0
123             washington     pac-12      chris petersen  4375000.0
124       washington state     pac-12          mike leach  3500000.0
125          west virginia     big 12      dana holgorsen  3605000.0
126       western kentucky      c-usa    mike sanford jr.   800000.0
127       western michigan        mac          tim lester   800000.0
128              wisconsin    big ten         paul chryst  3750000.0
129                wyoming   mt. west          craig bohl  1412000.0

      TotalPay      Bonus  BonusPaid  AssistantPay      Buyout
0     885000.0   247000.0        0.0           0.0         0.0
1     412500.0   225000.0    50000.0           0.0    688500.0
2    8307000.0  1100000.0   500000.0           0.0  33600000.0
3     900000.0   950000.0   165471.0           0.0   3847500.0
4     712500.0   295000.0   145000.0           0.0   2160417.0
5    2000000.0  2025000.0        0.0           0.0  10000000.0
6    2000000.0  3010000.0        0.0           0.0   8166667.0
7    3500000.0  1000000.0        0.0           0.0  12500000.0
8     825000.0   185000.0    25000.0           0.0    300000.0
9     932521.0        0.0        0.0           0.0         0.0
10   6705656.0  1400000.0   375000.0           0.0  32143750.0
11    435689.0   380000.0    30000.0           0.0    980300.0
12         0.0        0.0        0.0           0.0         0.0
13   1650010.0   475000.0   145000.0           0.0   7784038.0
14   2514859.0        0.0        0.0           0.0         0.0
15    437228.0   245000.0    81250.0           0.0    874456.0
16         0.0        0.0        0.0           0.0         0.0
17    455500.0   381000.0        0.0           0.0   1020833.0
18   1500000.0   900000.0    75000.0           0.0   7208500.0
19   1700000.0   250000.0        0.0           0.0   3587500.0
20    655000.0   415000.0    45000.0           0.0   1125000.0
21    625000.0   120000.0        0.0           0.0    556389.0
22   2000000.0   625000.0        0.0           0.0   7100000.0
23   6543350.0  1125000.0   500000.0           0.0  35000000.0
24    400000.0   800000.0    25000.0           0.0    516667.0
25   2878500.0  2150000.0   297000.0           0.0  10314583.0
26   1800000.0   905000.0    50000.0           0.0   8000000.0
27   1100000.0   650000.0   129000.0           0.0   1000000.0
28   2540928.0        0.0        0.0           0.0         0.0
29   1102500.0   850000.0        0.0           0.0   1233333.0
..         ...        ...        ...           ...         ...
100   500000.0   870000.0    15000.0           0.0   1583333.0
101  4311543.0        0.0        0.0           0.0         0.0
102  2401206.0        0.0        0.0           0.0         0.0
103        0.0        0.0        0.0           0.0         0.0
104  3846000.0  1200000.0        0.0           0.0  11780000.0
105  5500000.0   725000.0    75000.0           0.0  15416667.0
106  7500000.0  1350000.0        0.0           0.0  68125000.0
107  4840717.0        0.0        0.0           0.0         0.0
108   700000.0    70833.0        0.0           0.0    773958.0
109  3703975.0  1500000.0    25000.0           0.0   4231250.0
110   700000.0   741665.0        0.0           0.0   2991667.0
111  1100000.0   185000.0    17500.0           0.0   3562500.0
112  1125000.0   585000.0   210000.0           0.0   3558333.0
113   810000.0   490000.0   100000.0           0.0   2911667.0
114  1629000.0        0.0        0.0           0.0         0.0
115  1518177.0        0.0        0.0           0.0         0.0
116  3300000.0  1085000.0        0.0           0.0   9000000.0
117  3787917.0   935000.0   279167.0           0.0   9250000.0
118   900000.0   765000.0    65000.0           0.0   2122917.0
119  2812523.0        0.0        0.0           0.0         0.0
120  3550000.0  2165000.0    75000.0           0.0  18193750.0
121  4000000.0   435000.0    75000.0           0.0  15000000.0
122  1831580.0        0.0        0.0           0.0         0.0
123  4377500.0  1050000.0   300000.0           0.0  26354166.0
124  3500000.0   725000.0    75000.0           0.0   4900000.0
125  3617500.0  1000000.0    90000.0           0.0   7150000.0
126   805850.0   400000.0        0.0           0.0   1200000.0
127   800000.0   346500.0    39250.0           0.0    800000.0
128  3750000.0        0.0   290000.0           0.0   6000000.0
129  1412000.0   450000.0   236000.0           0.0   8016667.0

[130 rows x 9 columns]