In [36]:
import pandas as pd

In [37]:
# read datast(s)
with open('../data/Zip_Zhvi_SingleFamilyResidence.csv', 'rb') as f:
    df = pd.read_csv(f).fillna(0)

# convert non-timeserie
df[['City', 'State', 'Metro', 'CountyName']] = df[['City', 'State', 'Metro', 'CountyName']].astype(str)
df[['RegionID', 'RegionName', 'SizeRank']] = df[['RegionID', 'RegionName', 'SizeRank']].astype(int)

In [38]:
# timeseries data
start_index = df.columns.get_loc('1996-04') + 1
date_columns = df.iloc[:,start_index:len(df.columns)].columns.tolist()

# ensure integer timeseries
df[date_columns] = df[date_columns].astype(int)

In [9]:
print(df)

       RegionID  RegionName               City State  \
0         84654       60657            Chicago    IL
1         84616       60614            Chicago    IL
2         93144       79936            El Paso    TX
3         84640       60640            Chicago    IL
4         61807       10467           New York    NY
5         91733       77084            Houston    TX
6         97564       94109      San Francisco    CA
7         90668       75070           McKinney    TX
8         62037       11226           New York    NY
9         91940       77449            Cypress    TX
10        62087       11375           New York    NY
11        71831       32162       The Villages    FL
12        62045       11235           New York    NY
13        84646       60647            Chicago    IL
14        74242       37211          Nashville    TN
15        96107       90250          Hawthorne    CA
16        74101       37013          Nashville    TN
17        84620       60618            Chicago    IL
18        69816       28269          Charlotte    NC
19        71067       30349          Riverdale    GA
20        93123       79912            El Paso    TX
21        96027       90046        Los Angeles    CA
22        97771       94565          Pittsburg    CA
23        61802       10462           New York    NY
24        61796       10456           New York    NY
25        84615       60613            Chicago    IL
26        66133       20009         Washington    DC
27        66126       20002         Washington    DC
28        66843       21234          Parkville    MD
29        86026       63376       Saint Peters    MO
...         ...         ...                ...   ...
15252     59046        3215  Waterville Valley    NH
15253     59156        3586         Sugar Hill    NH
15254     78648       47528        Edwardsport    IN
15255     94323       83821             Coolin    ID
15256     81944       54865          Port Wing    WI
15257     81916       54832           Drummond    WI
15258     82992       56657            Marcell    MN
15259     67086       21864           Stockton    MD
15260     78867       47965     Crawfordsville    IN
15261     59187        3765          Haverhill    NH
15262     67087       21865            Tyaskin    MD
15263     82426       55752         Swan River    MN
15264     93865       82055         Centennial    WY
15265     96822       92341  Green Valley Lake    CA
15266     70296       29074       Liberty Hill    SC
15267     93454       80532              Drake    CO
15268     85883       63041          Grubville    MO
15269     67072       21840          Nanticoke    MD
15270     94711       84781        Pine Valley    UT
15271     70763       29915           Bluffton    SC
15272     62556       12429          Port Ewen    NY
15273     81927       54844           Herbster    WI
15274     99032       97028       Rhododendron    OR
15275     62697       12720             Bethel    NY
15276     58333        1338    Shelburne Falls    MA
15277     99074       97102          Arch Cape    OR
15278     73940       36564           Fairhope    AL
15279     59107        3293          Woodstock    NH
15280     66881       21405          Annapolis    MD
15281     94815       85220    Apache Junction    AZ

                                Metro            CountyName  SizeRank  \
0                             Chicago                  Cook         1
1                             Chicago                  Cook         2
2                             El Paso               El Paso         3
3                             Chicago                  Cook         4
4                            New York                 Bronx         5
5                             Houston                Harris         6
6                       San Francisco         San Francisco         7
7                   Dallas-Fort Worth                Collin         8
8                            New York                 Kings         9
9                             Houston                Harris        10
10                           New York                Queens        11
11                       The Villages                Sumter        12
12                           New York                 Kings        13
13                            Chicago                  Cook        14
14                          Nashville              Davidson        15
15     Los Angeles-Long Beach-Anaheim           Los Angeles        16
16                          Nashville              Davidson        17
17                            Chicago                  Cook        18
18                          Charlotte           Mecklenburg        19
19                            Atlanta               Clayton        20
20                            El Paso               El Paso        21
21     Los Angeles-Long Beach-Anaheim           Los Angeles        22
22                      San Francisco          Contra Costa        23
23                           New York                 Bronx        24
24                           New York                 Bronx        25
25                            Chicago                  Cook        26
26                         Washington  District of Columbia        27
27                         Washington  District of Columbia        28
28                          Baltimore             Baltimore        29
29                          St. Louis         Saint Charles        30
...                               ...                   ...       ...
15252                       Claremont               Grafton     15253
15253                       Claremont               Grafton     15254
15254                       Vincennes                  Knox     15255
15255                       Sandpoint                Bonner     15256
15256                               0              Bayfield     15257
15257                               0              Bayfield     15258
15258                               0                Itasca     15259
15259                       Salisbury             Worcester     15260
15260                  Crawfordsville            Montgomery     15261
15261                       Claremont               Grafton     15262
15262                       Salisbury              Wicomico     15263
15263                               0                Aitkin     15264
15264                         Laramie                Albany     15265
15265                       Riverside        San Bernardino     15266
15266                        Columbia               Kershaw     15267
15267                    Fort Collins               Larimer     15268
15268                       St. Louis              Franklin     15269
15269                       Salisbury              Wicomico     15270
15270                      St. George            Washington     15271
15271              Hilton Head Island              Beaufort     15272
15272                        Kingston                Ulster     15273
15273                               0              Bayfield     15274
15274                        Portland             Clackamas     15275
15275                               0              Sullivan     15276
15276                 Greenfield Town              Franklin     15277
15277                         Astoria               Clatsop     15278
15278                          Daphne               Baldwin     15279
15279                       Claremont               Grafton     15280
15280                       Baltimore          Anne Arundel     15281
15281                         Phoenix                 Pinal     15282

        1996-04   1996-05   1996-06   ...       2016-12  2017-01  2017-02  \
0      420800.0  423500.0  426200.0   ...     1097900.0  1098300  1094700
1      542400.0  546700.0  551700.0   ...     1522800.0  1525900  1525000
2       70900.0   71200.0   71100.0   ...      114200.0   114300   114200
3      298200.0  297400.0  295300.0   ...      739400.0   743100   741500
4           0.0       0.0       0.0   ...      391600.0   388900   388800
5       76700.0   76500.0   76000.0   ...      160500.0   158400   156100
6           0.0       0.0       0.0   ...     4030500.0  4000000  3936500
7           0.0       0.0       0.0   ...      307100.0   308700   310900
8           0.0       0.0       0.0   ...      926300.0   921900   925000
9       72300.0   72400.0   72000.0   ...      161700.0   159300   156700
10          0.0       0.0       0.0   ...     1006700.0  1014600  1022900
11      91800.0   92100.0   91700.0   ...      246400.0   246400   246600
12          0.0       0.0       0.0   ...      776100.0   786500   793200
13     139000.0  138600.0  138300.0   ...      404500.0   407200   409800
14      85900.0   86500.0   87500.0   ...      231000.0   232500   233700
15     155700.0  154700.0  153400.0   ...      557700.0   561100   563900
16      92200.0   93000.0   94000.0   ...      184000.0   185800   187200
17     155900.0  156100.0  155300.0   ...      415200.0   418800   421000
18     109200.0  109900.0  110700.0   ...      181800.0   182800   183500
19      91600.0   89800.0   88500.0   ...      115900.0   118500   120600
20     107100.0  107200.0  107200.0   ...      170800.0   171200   171400
21     374500.0  374400.0  374700.0   ...     1641100.0  1652000  1649300
22     123800.0  123300.0  123100.0   ...      373200.0   377000   380300
23          0.0       0.0       0.0   ...      409200.0   409700   412400
24          0.0       0.0       0.0   ...      338400.0   335900   336300
25     357800.0  351400.0  351700.0   ...      968200.0   969800   965200
26          0.0       0.0       0.0   ...     1182400.0  1187800  1191100
27          0.0       0.0       0.0   ...      633200.0   642000   649600
28      97600.0   98100.0   98600.0   ...      201800.0   202700   203400
29      99200.0   99300.0   99900.0   ...      189300.0   190900   193200
...         ...       ...       ...   ...           ...      ...      ...
15252       0.0       0.0       0.0   ...      739900.0   730700   724800
15253       0.0       0.0       0.0   ...      298800.0   295400   293000
15254       0.0       0.0       0.0   ...       64200.0    64000    65000
15255       0.0       0.0       0.0   ...      499900.0   498700   490300
15256       0.0       0.0       0.0   ...      135700.0   137500   139500
15257       0.0       0.0       0.0   ...      148900.0   148900   149800
15258       0.0       0.0       0.0   ...      178800.0   181800   183300
15259   61100.0   61100.0   63100.0   ...      118200.0   118300   118900
15260   60700.0   61600.0   61900.0   ...       80300.0    81400    82200
15261   69900.0   70000.0   69300.0   ...      128000.0   127700   127500
15262   47400.0   47900.0   48500.0   ...      102600.0   104300   106200
15263       0.0       0.0       0.0   ...      123600.0   122200   121200
15264       0.0       0.0       0.0   ...      197800.0   194100   192000
15265   76100.0   77300.0   78400.0   ...      178100.0   178600   177000
15266  122900.0  122600.0  116500.0   ...      214900.0   208500   200800
15267       0.0       0.0       0.0   ...      280000.0   285800   286400
15268   56500.0   56600.0   58200.0   ...       59000.0    59000    59700
15269       0.0       0.0       0.0   ...      109400.0   109600   110800
15270  128400.0  128600.0  128600.0   ...      222000.0   223300   223800
15271       0.0       0.0       0.0   ...      516200.0   512900   516400
15272   75400.0   75500.0   75800.0   ...      169000.0   169000   169700
15273  201000.0  200900.0  201000.0   ...      147700.0   147100   146400
15274  146900.0  145300.0  144900.0   ...      315900.0   317500   318200
15275   68300.0   67900.0   69800.0   ...      104300.0   103900   104000
15276   98900.0   98100.0   97800.0   ...      212900.0   213400   214100
15277       0.0       0.0       0.0   ...      645600.0   653100   649600
15278       0.0       0.0       0.0   ...      498200.0   512200   531400
15279   86700.0   87500.0   88100.0   ...      188300.0   187000   185500
15280  253500.0  254000.0  255300.0   ...      781600.0   779500   770200
15281       0.0       0.0       0.0   ...      182300.0   183500   185400

       2017-03  2017-04  2017-05  2017-06  2017-07  2017-08  2017-09
0      1088500  1081200  1073900  1064300  1054300  1048500  1044400
1      1526100  1528700  1526700  1518900  1515800  1519900  1525300
2       114000   113800   114000   114000   113800   113500   113300
3       736300   729500   727700   726000   718800   713400   710900
4       391100   394400   396900   398600   400500   402600   403700
5       154700   155500   158700   160600   161300   161800   161500
6      3910700  3904900  3907500  3940400  3961900  3919700  3854500
7       313400   315500   317600   318400   318100   319200   321800
8       932800   935300   934800   933800   931300   929500   931800
9       155800   156900   159500   161200   162200   163100   163200
10     1031900  1035500  1029600  1018800  1008600  1004600  1004500
11      246900   247400   247600   247500   247600   247500   246700
12      794300   795400   799500   801300   799900   799800   801100
13      411100   409900   407000   404100   401400   399900   399800
14      234600   235600   237400   239400   241000   242800   244800
15      567100   570600   573300   574200   574700   576900   579700
16      188800   190900   193300   196100   198600   200900   202800
17      421100   418900   416000   414100   412900   412000   411600
18      184200   184900   186300   188000   189800   192000   194100
19      121400   121100   121200   122600   124600   127800   131300
20      171300   171200   171200   171400   171900   172400   172800
21     1636200  1630800  1637500  1645600  1647100  1645500  1644600
22      382200   384700   388100   389600   390500   394500   399100
23      415900   418200   419800   423000   426400   429800   432500
24      339400   343200   347100   350700   352800   354900   356900
25      957600   950200   943200   935800   928400   919600   911400
26     1190500  1183000  1176300  1169300  1174100  1181500  1182500
27      650800   648400   644500   642700   645800   648600   648200
28      204400   204700   204100   203400   203100   204000   205300
29      195200   197500   197200   192300   186900   184600   183600
...        ...      ...      ...      ...      ...      ...      ...
15252   716700   705900   692500   676600   662500   651600   642700
15253   293100   294700   296000   297000   298100   298500   297700
15254    66800    67400    66900    65800    65900    66800    67800
15255   488300   496100   501000   495900   490100   484500   479000
15256   140100   137200   133200   132900   135700   138000   139700
15257   150500   149300   150200   156000   163300   167100   169500
15258   181700   178600   177800   180400   182800   182400   181800
15259   120000   121000   123300   127600   131300   135100   139600
15260    82200    81900    81600    81700    82100    82600    82700
15261   127300   125700   123800   124400   126600   127500   127900
15262   106500   105500   104900   105200   105500   105800   106300
15263   121100   121300   121700   122700   123300   123200   123100
15264   193300   198500   204800   210700   219100   225500   225700
15265   174500   173800   174200   170100   164700   162800   163000
15266   198000   197900   200000   201400   201900   201900   202400
15267   284900   283800   282500   284000   286500   291700   297400
15268    61200    62200    62000    61900    61700    61900    63400
15269   112000   111800   111300   111700   111800   111800   112100
15270   223800   225100   227500   229600   231500   232700   233300
15271   531300   544700   545000   537900   535400   546300   561300
15272   171500   172700   173800   174800   175100   175100   175500
15273   145900   144200   142000   141800   143800   146400   148900
15274   317800   316200   318000   323300   328400   332400   335300
15275   104700   106400   108000   108500   108600   109100   109500
15276   215700   217400   218600   219500   219800   220000   220400
15277   634000   621900   613500   606300   611400   626500   636700
15278   550800   564700   566700   567400   566200   561700   556800
15279   184600   184000   184800   187700   190700   192300   193600
15280   761700   763200   772100   780400   783600   779500   774200
15281   186900   187000   186700   187700   189900   192000   193600

[15282 rows x 265 columns]